<div class="row">
<div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">
        <div class="card-header text-center">
            <h2>Login Here</h2>
        </div>
        <div class ="card-body">
<form>
    <div class="form-group">
        <label for="username">Username</label>
        <input id="Username" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password"class="form-control"/>
    </div>
    <div class="form-group">
        <input type="checkbox"  id="remember"/>
        <label class="ml-1" for="remember">Remember Me</label>
    </div>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/shop']">Login</a>
    </form>
    </div>
</div>
</div>
</div>